/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.footer-section{
  position: relative;
  .futter-elemint{
    position: absolute;
    bottom: 0;
    img{
      width: 100%;
    }
  }
}
.footer-widget-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  .footer-widget{
    flex: 0 0 30%;
    margin-bottom: 30px;
    @media only screen and (max-width: 991px) {
      flex: 0 0 33.33%;
    }
    @media only screen and (max-width: 575px) {
      flex: 0 0 50%;
    }
    .widget-title{
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}
.footer-list{
  margin-bottom: -15px;
  li{
    padding-bottom: 15px;
    a{
      transition: all 0.3s;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $base--color;
        transition: all 0.5s;
    }
    &:hover{
        color: $base--color;
        &::after{
            width: 100%;
        }
    }
    }
  }
}
.footer-social{
  li{
    display: inline-block;
    font-size: 18px;
    @media only screen and (max-width: 575px) {
      font-size: 14px;
    }
  }
  li + li{
    margin-left: 20px;
  }
}
.footer-bottom-area{
  border-top: 1px solid #606272;
  padding-top: 40px;
  margin-top: 40px;
  text-align: center;
}
.footer-logo{
  margin-bottom: 20px;
}
.copyright-area{
  margin-bottom: 20px;
  p{
    margin-bottom: 0;
    span{
      color: $base--color;
      font-weight: 500;
    }
  }
}
.futter-logo{
  margin: 0 auto;
  width: 200px;
  padding-bottom: 30px;
}
.social-area{
  .footer-social{
    a{
      transition: all 0.6s;
      font-size: 24px;
      color: $base--color;
      &:hover{
        color: $hover--color;
        
      }
    }
    
  }
}